.vertical_painting{
  transform: rotate(90deg);
}

.stolen{
  filter: grayscale(75%);
}
body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}
/*
.navbar{
  grid-area: a;
  text-align: center;
} */

.game-and-stolen-art-list {
  justify-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
} 
.map-container {
  grid-column: 1 / 2;
  margin: 30px;
  position: relative;
}
.caught-fish {
  grid-column: 4 / 4;
  background-color: rgb(132, 132, 132);
  padding: 20px;
  margin: 30px;
  color: black;
  overflow-y: auto;
  overflow-x: auto;
}

.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}


/* 
 body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}

.main-container{
  display: grid;
  grid-template-areas: "a a" 20vh "b c" 65vh / 1fr 1fr;
  gap: 10px;
}
.navbar{
  grid-area: a;
  text-align: center;
}
.map-container{
  grid-area: b;
  margin: 30px;
  position: relative;
}
.caught-fish{
  grid-area: c;
  background-color: rgb(132, 132, 132);
  padding: 20px;
  margin: 30px;
  color: black;
  overflow-y: auto;
  overflow-x: auto;
}

.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}  */

.question__btn {
  border: solid black 1px;
  padding: 24px;
  color: black;
}

.btn__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  /* grid-template:  */
}

.questionModalBackground{
  z-index: 1;
}

/* PaintingListContainer */

.text__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PLC__container {
  width: 100%;
  max-width: 550px;
}

/* LOSE/WIN MODALS */

.LM__background {
  /* width: 50%;
  height: 50%;  */
  /* background-color: rgba(200, 200, 200);  */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LM__container {
  color: black;
  height: 800px;
  width: 1500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  padding: 25px;
}

.LM__title {
  text-align: center;
  font-size: 80px;
  height: 400px;
}

.LM__button {
  background-color: red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 18px;
}

.forfeit {
    display: flex;
    justify-self: flex-end;
    text-align: right;
    position: relative;
    bottom: 0;
    /* left: 1600px; */
}

.forfeit img {
    height: 50px;
    width: 50px;
}