.vertical_painting{
  transform: rotate(90deg);
}

.stolen{
  filter: grayscale(75%);
}
body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}
/*
.navbar{
  grid-area: a;
  text-align: center;
} */

.game-and-stolen-art-list {
  justify-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
} 
.map-container {
  grid-column: 1 / 2;
  margin: 30px;
  position: relative;
}

.caught-fish {
  grid-column: 2 / 3;
  height: 750px;
  background-color: rgb(255, 117, 246);
  padding: 20px;
  margin: 30px;
  color: black;
  overflow-y: scroll;
  overflow-x: auto;
}

.caught-fish img {
  border: 5px solid brown;
  padding: 10px; 
  background-color: goldenrod;
}

.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* 
 body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}

.main-container{
  display: grid;
  grid-template-areas: "a a" 20vh "b c" 65vh / 1fr 1fr;
  gap: 10px;
}
.navbar{
  grid-area: a;
  text-align: center;
}
.map-container{
  grid-area: b;
  margin: 30px;
  position: relative;
}


.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}  */

.question__btn {
  border: solid black 1px;
  padding: 24px;
  color: black;
}

.btn__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  /* grid-template:  */
}

.questionModalBackground{
  z-index: 1;
}