.vertical_painting{
  transform: rotate(90deg);
}

.stolen{
  filter: grayscale(75%);
}
body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}
/*
.navbar{
  grid-area: a;
  text-align: center;
} */
.title{
  font-size: 30px;
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  transition: drop-shadow 0.5s ease-in-out;
  margin: 0;
}
.game-and-stolen-art-list {
  justify-items: center;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template: 
  "a b" 10vh 
  "c b" 65vh;
  gap: 10px;
} 

.map-container {
  /* grid-column: 1 / 2; */
  grid-area: c;
  margin: 30px;
  position: relative;
}

.caught-fish {
  height: 750px;
  grid-area: b;
  background-color: rgb(255, 117, 246);
  padding: 20px;
  margin: 30px;
  color: black;
  overflow-y: auto;
  overflow-x: auto;
}

.caught-fish img {
  border: 5px solid brown;
  box-shadow: rgb(146, 19, 144) 5px 10px;
  padding: 10px; 
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
}

.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* 
 body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}

.main-container{
  display: grid;
  grid-template-areas: "a a" 20vh "b c" 65vh / 1fr 1fr;
  gap: 10px;
}
.navbar{
  grid-area: a;
  text-align: center;
}
.map-container{
  grid-area: b;
  margin: 30px;
  position: relative;
}


.table td {
  text-align: center;
  width: 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}  */

.question__btn {
  border: solid black 1px;
  padding: 24px;
  color: black;
}

.btn__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  /* grid-template:  */
}

.questionModalBackground{
  z-index: 1;
}

/* PaintingListContainer */

.text__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PLC__container {
  width: 100%;
  max-width: 550px;
}

/* LOSE/WIN MODALS */

.LM__background {
  /* width: 50%;
  height: 50%;  */
  /* background-color: rgba(200, 200, 200);  */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.instructionModalBackground{
  position: absolute;
}

.LM__container {
  color: black;
  height: 800px;
  width: 1500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  padding: 25px;
}

.question__modal--background {
  color: black;
  height: 500px;
  width: 500px;
  position: fixed;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  padding: 25px;
}

.question__modal--title {
  text-align: center;
  padding-bottom: 24px;
}

.question {
  padding-bottom: 24px;
}

.LM__title {
  text-align: center;
  font-size: 80px;
  height: 400px;
}

.LM__button {
  background-color: red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 18px;
}

.social-icons:hover{
  filter: drop-shadow(0 0px 100px rgb(255, 117, 246)) drop-shadow(0 0px 20px rgb(255, 117, 246)) drop-shadow(0 0px 30px rgb(255, 117, 246));
  transition: box-shadow 0.5s ease-in-out;
}

.social-icons{
  background-color: rgb(255, 117, 246);
  box-shadow: 0 0 10px;
  border-radius: 25px;
}

.footer{
  margin-top: 300px;
  display: grid;
  grid-template:
   "a b" 10vh
   "a c" 10vh
   "d d" 5vh;
}

.footer-headers{
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
}

.footer-left{
  grid-area: a;

}

.footer-right{
  grid-area: b;
 
}

.footer-right-images{
  grid-area: c;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-bottom{
  grid-area: d;
}

/* .question__modal--background { */
  /* display: flex;
  align-items: center;
  justify-content: center; */
/* } */

