/* .forfeit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    right: 0;
}

.forfeit img {
    height: 50px;
    width: 50px;
} */