/* .forfeit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    right: 0;
}

.forfeit img {
    height: 50px;
    width: 50px;
} */

.forfeit {
    display: flex;
    justify-self: flex-end;
    text-align: right;
    position: relative;
    bottom: 0;
    /* left: 1600px; */
}

.forfeit img {
    height: 50px;
    width: 50px;
}

.forfeit-image:hover {
  filter: drop-shadow(0 0px 100px rgb(255, 117, 246)) drop-shadow(0 0px 20px rgb(255, 117, 246)) drop-shadow(0 0px 30px rgb(255, 117, 246));
  transition: box-shadow 0.5s ease-in-out;
}
