/* body{
  color: white;
  background-color: lightblue;
} */

.background{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.loginTitle{
  font-size: 30px;
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  transition: drop-shadow 0.5s ease-in-out;
  
}

b{
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  transition: drop-shadow 0.5s ease-in-out;
}

.buttonStyling {
  /* border: solid  white; */
  background-color: white;
  color: black;
  margin-left: 8px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  padding: 10px;

}
.buttonStyling:hover {
  background-color: rgb(255, 117, 246);
  filter: drop-shadow(0 0px 100px rgb(255, 117, 246)) drop-shadow(0 0px 20px rgb(255, 117, 246)) drop-shadow(0 0px 30px rgb(255, 117, 246));
  transition: box-shadow 0.5s ease-in-out;
}

.story-button:hover{
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  transition: drop-shadow 0.5s ease-in-out;
}

.h3S {
  margin: 0;
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  font-size: 25px;
}

.newPlayer{
  display: flex;
  justify-content: center;
  padding-bottom: 16px;;
}


/* REGISTER MODAL */
.textboxid{
  border-radius: 999px;
  font-size:20pt;
  text-align: center;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  filter: drop-shadow(0px 0px 1px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));

}



.modalBackground {
  width: 50%;
  height: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

} 

.modalContainer {
  color: black;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
 

}

.modalContainer, .modalBackground, .title, .body, .footer {
  z-index: 1;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleClostBtn {
  display: flex;
  justify-content: flex-end;

}


.titleClostBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.title {
  font-size: 48px;
}

.titleWrapper {
  margin: 0 40px 24px 40px;
}

.modalContainer {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer {

  display: flex;
  justify-content: center;
  align-items: center;
}


 .modalFooter{
  max-width: 500px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.cancelBtn, .registerBtn, .instructionBtn {
  padding:  10px;
  border-radius: 12px;
  border: solid all black;
  font-weight: bold;
  background-color: rgb(255, 117, 246);
  
}

.cancelBtn:hover, .registerBtn:hover {
  filter: drop-shadow(0px 0px 3px rgb(255, 117, 246)) drop-shadow(0 0px 2px rgb(255, 117, 246)) drop-shadow(0 0px 3px rgb(255, 117, 246));
  transition: ease all 200ms;
  background-color: white;
  color: black;
}